/**
 * General mixin all flags should import, containing common settings.
 */
@mixin flag {
  position: relative;
}

/**
 * General mixin for pseudo elements, setting their base position & visibility.
 * @param  {String} $char: ""  Content string, is necessary.
 */
@mixin pseudo($char: "") {
  content: $char;
  display: block;
  position: absolute;
}


/**
 * Striped flag mixins.
 */

@mixin three-stripes($angle, $colour1, $colour2, $colour3, $percent1, $percent2, $percent3) {
  @if $percent1 == false {
    $percent1: 33.33%;
    $percent2: 66.66%;
    $percent3: 100%;
  }

  background: linear-gradient(
    $angle,
    $colour1,
    $colour1 $percent1,
    $colour2 $percent1,
    $colour2 $percent2,
    $colour3 $percent2,
    $colour3 $percent3
  );
}

@mixin three-vertical-stripes($colour1, $colour2, $colour3, $percent1: false, $percent2: false, $percent3: false) {
  @include three-stripes(to right, $colour1, $colour2, $colour3, $percent1, $percent2, $percent3);
}

@mixin three-horizontal-stripes($colour1, $colour2, $colour3, $percent1: false, $percent2: false, $percent3: false) {
  @include three-stripes(to bottom, $colour1, $colour2, $colour3, $percent1, $percent2, $percent3);
}



