/**
 * Country: Botswana
 * Link:    https://en.wikipedia.org/wiki/Flag_of_Botswana
 * Ratio:   2:3
 * Colours: blue  - #75aadb
 *          white - #ffffff
 *          black - #000000
 */
.#{$namespace}-botswana {
  $height: 2em;
  $width: 3em;
  $blue: #75aadb;
  $white: #ffffff;
  $black: #000000;

  @include flag;
  height: $height;
  width: $width;

  @include three-horizontal-stripes($blue, $white, $blue, 37.5%, 25%);


  &::before {
    @include pseudo;

    height: $height / 6;
    top: $height * 5 / 12;
    left: 0;
    right: 0;
    background: $black;
  }
}
