/**
 * Country: Monaco
 * Link:    https://en.wikipedia.org/wiki/Flag_of_Monaco
 * Ratio:   4:5 (or 2:3)
 * Colours: red   - #ce1126
 *          white - #ffffff
 */
.#{$namespace}-monaco {
  $height: 4em;
  $width: 5em;
  $red: #ce1126;
  $white: #ffffff;

  @include flag;
  height: $height;
  width: $width;

  @include two-horizontal-stripes($red, $white);
}
