/**
 * Country: Yemen
 * Link:    https://en.wikipedia.org/wiki/Flag_of_Yemen
 * Ratio:   2:3
 * Colours: red   - #ce1126
 *          white - #ffffff
 *          black - #000000
 */
.#{$namespace}-yemen {
  $height: 2em;
  $width: 3em;
  $red: #ce1126;
  $white: #ffffff;
  $black: #000000;

  @include flag;
  height: $height;
  width: $width;

  @include three-horizontal-stripes($red, $white, $black);
}
